<div class="quiz-container" *ngIf="words.length > 0">
    <div id="row1">
        <div id="col1">
            <div class="container full-width">
                <ng-container *ngFor="let w of words; let i = index">
                    <logo-card *ngIf="index == i && !isCompleted" [word]="w.word" [image]="w.logo" [version]="version" (next)="NextLogo($event)"></logo-card>
                </ng-container>
                <div class="congrats" *ngIf="isCompleted">
                Gratulacje !!!
                <div>
                    <img src="assets/images/thumbs-up.png" alt="">
                </div>
                </div>
            </div>    
        </div>
        <div id="col2">
            <div class="container narrow timer">
                <stopwatch (timeup)="Completed()" [countdownEnabled]="version != 'C'"></stopwatch>
            </div>
            <div class="container points">
                <div class="header">Poprawne</div>
                <div class="content">
                    {{ correctAnswersCount }}
                </div>
            </div>
            <div class="container points">
                <div class="header">Błędne</div>
                <div class="content">
                    {{ invalidAnswersCount }}
                </div>
            </div>
            <div class="container points">
                <div class="header">Pominięte</div>
                <div class="content">
                    {{ skippedAnswersCount }}
                </div>
            </div>
            <div class="container points">
                <div class="header">Pozostałe</div>
                <div class="content">
                    {{ leftAnswersCount }}
                </div>
            </div>
        </div>
    </div>
</div>