// .container {
//     width: 70%;
//     margin: 0 auto;
//     border: 1px solid #888;
//     background-color:rgba(255, 255, 255, 0.25);
//     border-radius: 10px;
//     margin: 5px;
//     padding: 10px;
//     position: relative;
// }

.card-container {
    width: 100%;
}

.logo {
    max-height: 28rem;
    max-width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.logo-container {
    height: 30rem;
    padding: 2rem;
}

.word-container {
    text-align: center;
    margin: 3rem 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
}

.btn2 {
    display: inline-block;
    font-size: 2rem;
    width: 30%;
    font-weight: 600;
    border: 1px solid #fff;;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    padding: 10px 20px; 
    box-shadow: 0 0 10px #333;
    cursor: pointer;
}

.btn2:hover {
    box-shadow: 0 0 20px #333;
}

.btn2:active {
    box-shadow: 0 0 3px #333;
    transform: scale(0.95);
}

.btn2-confirm {
    background-color: #28CE07;    
    border-left-color: rgb(84, 226, 55);
    border-top-color: rgb(84, 226, 55);
    border-right-color: rgb(37, 161, 12);
    border-bottom-color: rgb(37, 161, 12);
    color: #fff;    
}

.btn2-confirm:hover {
    background-color: #2FDB08;
}

.btn2-cancel {
    background-color: #E84D27;
    border-left-color: rgb(233, 106, 77);
    border-top-color: rgb(233, 106, 77);
    border-right-color: rgb(204, 67, 40);
    border-bottom-color: rgb(204, 67, 40);
    color: #fff;
}

.btn2-cancel:hover {
    background-color: #EE5D40;
}

.btn2--high {
    padding: 20px 20px;
}

