.container {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #888;
    background-color:rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    position: relative;
}

.logo {
    max-height: 200px;
    max-width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.logo-container {
    padding: 20px;
}

.word-container {
    text-align: center;
    margin: 20px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    width: 30%;
    font-weight: 600;
    border: 1px solid #fff;;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    padding: 5px 10px; 
    box-shadow: 0 0 10px #333;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 0 20px #333;
}

.btn:active {
    box-shadow: 0 0 3px #333;
    transform: scale(0.95);
}

.btn-confirm {
    background-color: #28CE07;    
    border-left-color: rgb(84, 226, 55);
    border-top-color: rgb(84, 226, 55);
    border-right-color: rgb(37, 161, 12);
    border-bottom-color: rgb(37, 161, 12);
    color: #fff;    
}

.btn-confirm:hover {
    background-color: #2FDB08;
}

.btn-cancel {
    background-color: #E84D27;
    border-left-color: rgb(233, 106, 77);
    border-top-color: rgb(233, 106, 77);
    border-right-color: rgb(204, 67, 40);
    border-bottom-color: rgb(204, 67, 40);
    color: #fff;
}

.btn-cancel:hover {
    background-color: #EE5D40;
}

