
$color-main-light: #f2cc45;
$color-main-dark: #d53835;

$color-white: #fff;
$color-black: #000;

$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-grey-dark: #777;

$default-font-size: 1.6rem;