.letter-box {
    font-size: 2em;
    width: 30px;
    height: 40px;
    border: 1px solid #555;
    border-radius: 5px;
    display: inline-block;
    padding: 3px;
    text-align: center;
    background-color: #f2f2f9;
    margin: 2px;
    overflow: hidden;
    outline: none;
}

.letter-box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #888;
    cursor: text;
}

.letter-box.active {
    background-color: rgb(196, 195, 195);
}

.letter-box-space {
    display: inline-block;
    width: 25px;
    height: 40px;
}

.letter-box.active .cursor {
    position: relative;
    top: 30px;
    width: 85%;
    margin: 0 auto;
    height: 3px;
    background-color: #333;
    opacity: 0.8;
}

@keyframes blink {
    from {
        opacity: 0.8;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 0.8;
    }
}

.blink {
    animation: blink .7s infinite;
}