.letter-box {
    font-size: 4.5rem;
    width: 5rem;
    height: 7rem;
    border: 1px solid #555;
    border-radius: 5px;
    display: inline-block;
    padding: 3px;
    text-align: center;
    background-color: #f2f2f9;
    margin: .3rem;
    overflow: hidden;
    outline: none;
    position: relative;
}

.letter-box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, .8);
    cursor: text;
}

.letter-box.active {
    background-color: rgb(196, 195, 195);
}

.letter-box.active::after {
    content: "";
    position: absolute;
    background-color: orangered;
    display: inline-block;
    width: 80%;
    height: .3rem;
    bottom: .8rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    opacity: 0.8;
    animation: blink .7s infinite;
}


.letter-box-space {
    display: inline-block;
    width: 4rem;
    height: 7rem;
}

@keyframes blink {
    from {
        opacity: 0.8;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 0.8;
    }
}
