
@Import "https://fonts.googleapis.com/css?family=Open+Sans";
@Import "https://fonts.googleapis.com/css?family=Indie+Flower";

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    background: linear-gradient(-10deg, #d53835,  #f2cc45);
    min-height: 100vh;
}

