
@Import "https://fonts.googleapis.com/css?family=Open+Sans";
@Import "https://fonts.googleapis.com/css?family=Indie+Flower";

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    background: linear-gradient(-10deg, #d53835,  #f2cc45);
    min-height: 100vh;
}

#row1 {
    display: flex;
}

#col2 {
    display: flex;
    flex-direction: column;
}

.container {
    width: 150px;
    margin: 0 auto;
    border: 1px solid #888;
    background-color:rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    position: relative;
}

.header {
    background-color: rgba(0, 0, 0, 0.1);
    margin: -10px -10px 0 -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 3px 5px;
    font-weight: 600;
    text-align: center;
}

.timer {
    height: 10%;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #888;
}

.points {
    height: 20%;
}

.points .content {
    font-size: 3em;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #888;
}