
@Import "https://fonts.googleapis.com/css?family=Open+Sans";
@Import "https://fonts.googleapis.com/css?family=Indie+Flower";

@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;        
    }
}


@import 'css/_variables.scss';
@import 'css/_grid.scss';
@import 'css/_button.scss';


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // This defines whant 1rem is
}

body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.quiz-container {
    background: linear-gradient(to right bottom,  #f2cc45, #d53835);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#row1 {
    display: flex;
    width: 80%;
    height: 80%;
}

#col1 {
    display: flex;
    width: 75%;
}

#col2 {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.container {    
    margin: 0 auto;
    border: 1px solid #888;
    background-color:rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    position: relative;
}

.narrow {
    width: 15rem;
}

.wide {
    width: 80%;
}

.full-width {
    width: 100%;
}

.container .header {
    background-color: rgba(0, 0, 0, 0.15);
    margin: -10px -10px 0 -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 3px 5px;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.timer {
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #888;
}

// .points {
//     height: 20%;
// }

.points .content {
    font-size: 4.5rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #888;
}

.congrats {
    width: 100%;
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #888;
}